body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inria Sans", sans-serif;
    color: white;
}

.banner{
    width: 90%;
    background-color: rgba(255, 236, 92, 1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 350px 350px 100px;
}

header{
    background-color: rgba(20, 97, 82, 1);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    grid-column: 1/5;
}
header img{
    height: 60PX;
}

.hero{
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(180, 207, 102, 1)
    
}
.hero img{
    height: 300px;
    width: 45%;
    object-fit: cover;
}
.texto{
    height: 300px;
    width: 45%;
    text-align: center;
    background-color: rgba(68, 128, 63, 1)  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px black);

}

#hero2 img{
    width: 270px;
    height: 250px;
    object-fit: cover;
}
#hero2 .texto{
    width: 270px;
    height: 250px;
}
#hero2{
    font-size: 0.8em;
}
.texto h1{
    
    font-size: 2em;
    height: 0;
}
.texto h2{
    height: 0;
}

footer{
    background-color: rgba(68, 128, 63, 1);
    grid-column: 1/5;
    border-radius: 10px;

}
