body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inria Sans", sans-serif;
    color: white;
    background-color: rgba(30, 30, 30, 1);
}

.banner{
    width: 90%;
    background-color: rgba(237, 241, 214, 1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 30px 350px 30px 350px 60px 100px 30px 350px 30px 100px 30px 350px 30px 100px;
    animation: scrollAnimation ease-in-out 1s 1;
}

header{
    background-color: rgba(64, 81, 59, 1);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    grid-column: 1/5;
}
header img{
    height: 60px;
}
.separatorio{
    background-color: rgba(64, 81, 59, 1);
    grid-column: 1/5;
    border-radius: 10px;
}
.hero{
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(157, 192, 139, 1);
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
}
#problemaAmbiental img{
    height: 300px;
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
}
.texto{
    height: 300px;
    width: 45%;
    text-align: center;
    background-color: rgba(96, 153, 102, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));

}

#tecnologia{
    grid-column: 1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(157, 192, 139, 1);
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
}

#tecnologia div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#tecnologia div img{
    height: 150px;
    object-fit: cover;
}
.textoTeste{
    height: 170px;
    width: 90%;
    text-align: center;
    background-color: rgba(96, 153, 102, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
}

#tecnologia h1{
    height: 0;
    font-size: 2em;
}
.texto h1{
    font-size: 2em;
    height: 0;
}
.texto h2{
    height: 0;
}
#consequencia img{
    width: auto;
}
#consequencia .texto{
    width: 60%;
}
#quemSomosTexto{
    width: 70%;
}

footer{
    background-color: rgba(64, 81, 59, 1);
    grid-column: 1/5;
    border-radius: 10px;

}
@keyframes scrollAnimation{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 930px) {
    body{
        font-size: 0.8em;
        justify-content: flex-start;
    }
}
@media (max-width: 720px){
    body{
        font-size: 0.7em;
    }
    #consequencia h1{
        font-size: 1.7em;
    }
}
@media (max-width: 620px){
    body{
        font-size: 0.6em;
    }
    #consequencia img{
        width: 50%;
        height: 344px;
        object-fit: cover;
        border-radius: 10px;
    }
    .images img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
    }
    #quemSomosHero img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 450px){
    body{
        font-size: 0.6em;
    }
    .banner{
        width: 90%;
        background-color: rgba(237, 241, 214, 1);
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 30px 500px 30px 500px 30px 50px 30px 500px 30px 50px 30px 500px 30px 50px;
        animation: scrollAnimation ease-in-out 1s 1;
    }
    .texto{
        height: 450px;
        width: 45%;
        text-align: center;
        background-color: rgba(96, 153, 102, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
       
    }
    .images img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
    }
    header img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    #problemaAmbiental{
        flex-direction: column;
    }
    #problemaAmbiental .texto{
        height: 48%;
        width: 80%;
    }
    #problemaAmbiental img{
        height: 50%;
        width: 80%;
    }
    #consequencia img{
        height: 50%;
        width: 80%;
    }
    #consequencia{
        flex-direction: column-reverse;
    }
    #consequencia .texto{
        height: 48%;
        width: 80%;
    }
    #tecnologia .texto{
        width: 80%;
        height: 400px;
    }
    #tecnologia .images img{
        width: 100px;
    }
    #tecnologia .images{
        width: 100%;
    }
    #quemSomosHero{
        flex-direction: column-reverse;
    }
    #quemSomosHero .texto{
        width: 80%;
        height: 48%;
    }
    #quemSomosHero img{
        width: 80%;
        object-fit: cover;
    }
}