body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inria Sans", sans-serif;
    color: white;
    background-color: rgba(30, 30, 30, 1);
}

.banner{
    width: 90%;
    background-color: rgba(237, 241, 214, 1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 30px 350px 30px 350px 60px 100px 30px 350px 30px 100px 30px 350px 30px 100px;
    animation: scrollAnimation ease-in-out 1s 1;
}

header{
    background-color: rgba(64, 81, 59, 1);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    grid-column: 1/5;
}
header img{
    height: 60PX;
}
.separatorio{
    background-color: rgba(64, 81, 59, 1);
    grid-column: 1/5;
    border-radius: 10px;
}
.hero{
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(157, 192, 139, 1);
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
}
#problemaAmbiental img{
    height: 300px;
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
}
.texto{
    height: 300px;
    width: 45%;
    text-align: center;
    background-color: rgba(96, 153, 102, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));

}
#hero2 img{
    width: 270px;
    height: 250px;
    object-fit: cover;
}
#hero2 .texto{
    width: 270px;
    height: 250px;
}
#hero2{
    font-size: 0.8em;
}
#tecnologia{
    padding: 20px;
    grid-column: 1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(157, 192, 139, 1);
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
}

#tecnologia div{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#tecnologia div img{
    height: 150px;
    object-fit: cover;
}
.textoTeste{
    height: 150px;
    width: 90%;
    text-align: center;
    background-color: rgba(96, 153, 102, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
}
/* #tecnologia .texto{
    width: 90%;
    height: 150px;
} */
#tecnologia h1{
    height: 0;
}
.texto h1{
    font-size: 2em;
    height: 0;
}
.texto h2{
    height: 0;
}
#consequencia img{
    width: auto;
}
#consequencia .texto{
    width: 60%;
}
#quemSomosTexto{
    width: 70%;
}

footer{
    background-color: rgba(64, 81, 59, 1);
    grid-column: 1/5;
    border-radius: 10px;

}
@keyframes scrollAnimation{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 930px) {
    body{
        font-size: 0.7em;
        justify-content: flex-start;
    }
}